* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Kontainer utama */
.container {
    margin: 0 auto;
    padding: 20px;
}

.wheelwell {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.wheelwell img {
    position: absolute;
    left: 650px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-710%);
}

.fault {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.fault img {
    position: absolute;
    left: 650px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-530%);
}

.apudetinop {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.apudetinop img {
    position: absolute;
    left: 650px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-300%);
}

.apubtldis {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.apubtldis img {
    position: absolute;
    left: 650px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-430%);
}

.joy1 {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.joy1 img {
    position: absolute;
    left: 190px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-500%);
    z-index: 2;
    pointer-events: none;
}

.check-joy1 {
    position: absolute;
    left: 255px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-3700%);
    z-index: 1;
    cursor: pointer;
}

.engoh {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.engoh img {
    position: absolute;
    left: 180px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-455%);
}

.switch {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.switch img {
    position: absolute;
    left: 220px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-255%);
    z-index: 2;
    pointer-events: none;
}

.check-switch1 {
    position: absolute;
    left: 261px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-1550%);
    z-index: 1;
    cursor: pointer;
    /* Checkbox di lapisan bawah gambar */
}

.levengine1 {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.levengine1 img {
    position: absolute;
    left: 400px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-139%);
}

.levengineapu {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.levengineapu img {
    position: absolute;
    left: 890px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-139%);
}

.engoh2 {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.engoh2 img {
    position: absolute;
    left: 1160px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-455%);
}

.joyengine2 {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.joyengine2 img {
    position: absolute;
    left: 1170px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-500%);
    z-index: 2;
    pointer-events: none;
}

.check-joy2 {
    position: absolute;
    left: 1240px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-3700%);
    z-index: 1;
    cursor: pointer;
}

.levengine2 {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.levengine2 img {
    position: absolute;
    left: 1380px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-139%);
}

.lbtldis {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.lbtldis img {
    position: absolute;
    left: 1380px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-670%);
}

.rbtldis {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.rbtldis img {
    position: absolute;
    left: 1572px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-670%);
}

.joynumb {
    position: relative;
    /* Pastikan elemen parent memiliki posisi relative */
}

.joynumb img {
    position: absolute;
    left: 1643px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-450%);
    z-index: 2;
    pointer-events: none;
}

.check-switch2 {
    position: absolute;
    left: 1685px;
    /* Geser ke kiri setengah lebar gambar */
    transform: translateY(-2850%);
    z-index: 1;
    cursor: pointer;
    /* Checkbox di lapisan bawah gambar */
}
